.hotAccess
{
    display: flex;
    width: 90vw;
    margin: auto;
}

.hotAccess >div:first-child > img
{
    cursor: pointer;
    transition: all 0.5s;
    width: 22vw;
}

.hotAccess >div:last-child 
{
   display: flex;
   flex-wrap: wrap; 
}