.videoCard
{
    width: 30vmax;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat;
    margin: 0.5vmax;
    background-size: cover;
    cursor: pointer;
}

.videoCard > a
{
    padding: 2.5vmax;
    transition: all 0.5s;
    border: none;
    border-radius: 100%;
    background-color: transparent;
}

.videoCard > p
{
  color: white;
}


.videoCard > svg
{
    fill: white;
}


.videoCard img:hover
{
    box-shadow: rgb(61, 60, 60);
    cursor: pointer;
}

.videoCard:hover a{
    padding: 2.5vmax;
    border: none;
    border-radius: 100%;
    background-color: white;
    color: white;
}